.idea/
cmake-build-debug/
*.exe
*.o
*.s
*.gcno
.gcno
*.gcda
*.gcov
*.rar
.bak
*.bak

node_modules/
__pycache__/
venv/
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

# Django stuff:
*.log

docs/_build/

target/

.ropeproject
.drawio
*.drawio