.button {
    transition-duration: var(--default-animation-duration);
    transition-property: background-color, border-color, transform, color;
    border-radius: 50px;
    padding: 8px 17px;
    font-weight: bolder;
    font-size: 14px;
    color: black;
    border: 1px solid transparent;

    outline: none;
    height: auto;
    margin: auto 0;

    text-transform: uppercase;
    cursor: pointer;
}

.buttonStroke {
    border-width: 1px;
    border-style: solid;
}

.primary {
    background-color: transparent;
    color: black;
}

.primary.buttonStroke {
    border-color: var(--accent-main);
}

.antiPrimary {
    background-color: white;
    color: black;
}


.primary:hover {
    cursor: pointer;
    background-color: var(--accent-main);
    border-color: var(--accent-main);
    color: white;
}


.button:active {
    transform: scale(0.8);
}