.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--container-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    height: 100vh;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
